:root {
  --sl-color-accent-low: #312e81;
  --sl-color-accent: #6366f1;
  --sl-color-accent-high: #a5b4fc;
}

:root[data-theme="light"] {
  --sl-color-accent-low: #e0e7ff;
  --sl-color-accent: #6366f1;
  --sl-color-accent-high: #3730a3;
}
